@media screen and (min-width:530px) {
    nav button {
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-right: 1px solid #555;
        justify-content: flex-end;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid #555;
    }
}