@media screen and (min-width:640px) {
    nav button {
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-right: 1px solid #555;
        justify-content: flex-end;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid #555;
    }
    main{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
    .hero{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .news{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .spotlights{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .spotlight1{
        grid-column: 1/2;
    }
    .spotlight2{
        grid-column: 2/3;
    }
    .spotlight3{
        display: none;
    }
    .join{
        display: block;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .event{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .weather{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    footer section{
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .companyName{
        grid-column: 1/2;
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 1.4em;
    }
    h2{
        font-size: 1.2em;
    }
    .companyName img{
        width: 150px;
    }
    .infoText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 10px;
    }
    .companyName div h2, .companyName div p{
        margin-top: 5px;
    }
    .companyName div h1, .street{
        margin-bottom: 5px;
    } 
    .info{
        grid-column: 2/3;
    }
}