body{
    margin: 0 auto;
}

header{
    background-color: #0F0637;
    color: #edf8ff;
}
header p:nth-child(1){
    display: none;
}
.headerContent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.brand{
    display: inline-flex;
    align-items: center;
}
img{
    width: 60px;
    margin: 10px;
}
.title{
    font-size: 1em;
    font-weight: bold;
}
.social img{
    width: 20px;
    margin: 5px;
}
#todayDate{
    border: 1px solid #edf8ff;
    width: 90%;
    background-color: #201843;
    margin: 10px 0 15px 0;
    text-align: center;
    padding: 10px 0;
    color: #edf8ff;
}
nav button{
    margin: .2em 2vw;
    background: transparent;
    border: none;
    font-size: 2em;
    color:#edf8ff;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8em;
    text-decoration: none;
    border-top: 1px solid #0A64BC;
    color: #edf8ff;
}
nav ul li a:hover{
    background-color: #0A64BC;
    color: #edf8ff;
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
#ham span:nth-child(1) {
    display: block;
}
#ham span:nth-child(2) {
    display: none;
}
#ham.open span:nth-child(1) {
    display: none;
}
#ham.open span:nth-child(2) {
    display: block;
}

main{
    display: flex;
    flex-direction: column;
}
main section{
    padding: 0;
    margin: 10px;
    background-color: #77a8da;
}
.hero{
    background-color: transparent;
}
.hero img{
    width: 100%;
    margin: 0;
}
.hero h1{
    position: absolute;
    bottom: 427px;
    left: 33px; 
    color:#edf8ff;
}
.hero button{
    position: absolute;
    bottom: 467px;
    left: 403px; 
    color:#edf8ff;
    border: none;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
}
.hero button:hover{
    color: #b4c7d3;

}
.weather{
    width: 90%;
    padding: 10px;
    text-align: center;
}
.weather div div, .wind{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather img{
    width: 30%;
}
.weather h3{
    font-size: 4.5em;
    font-weight: 400;
    margin: 15px 0;
}
.weather p, .windC{
    font-size: 1.3em;
}
.windS, .windC{
    margin-left: 40px;
}
.spotlights{
    padding: 15px;
}
.spotlight1, .spotlight2, .spotlight3{
    border: 1px solid #0F0637;
    padding: 15px 0 80px 15px;
}
.join{
    display: none;
}

footer{
    background-color: #0F0637;
    color: #edf8ff;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 12pt;
}
footer a{
    text-decoration: none;
    color: #edf8ff;
}
footer a:hover{
    color: #77a8da;
}
footer a::after{
    color: #edf8ff;
}
.info img{
    width: 20px;
    margin: 0 5px;
}
.info a{
    padding-bottom: 20px;
}