@media screen and (min-width:1280px) {
    header {
        font-size: 1.2em;
    }
    nav ul li a {
        padding: .5em 1em;
    }
    .brandName {
        display: block;
        margin: 10px 5px;
    }
    .brand a {
        display: flex;
        align-items: center;
    }
    .hotels {
        font-size: larger;
    }
    .myTemple {
        display: flex;
        flex-direction: column;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.7em;
    }
    p {
        font-size: 1.5em;
    }
    .myInput {
        padding-bottom: 10px;
    }
}