@media screen and (min-width:640px) {
    header {
        justify-items: end;
    }
    header a {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .brand {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    nav {
        grid-column: 5/6;
        grid-row: 1/2;
    }
    nav button {
        display: none;
    }
    nav ul#primaryNav{
        display: flex;
        margin-left: 2vw;
        border-right: 1px solid #333;
        justify-content: flex-end;
    }
    nav ul li a {
        border: none;
        border-right: 1px solid #333;
    }
    .title {
        font-size: 2.2em;
        top: 30%;
        left: 51%;
    }
    footer section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        align-items: center;
        justify-items: center;
    }
    .social{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    footer section img{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .form{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .info{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .credit{
        display: flex;
        justify-content: center;
    }
}
@media screen and (min-width:850px) {
    .title{
        font-size: 3em;
    }
}