main{
    display: flex;
    height: auto;
}
main section{
    background-color: #2762A2;
    padding: 25px;    
}
main .hero{
    background-color: transparent;
    padding: 0;
}
.titleR {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #F1F1F3;
}
.reservation{
    display: flex;
    background-color: #F1F1F3;
    padding: 20px;
    flex-direction: column;
}
.myInput{
    margin: 10px 0;
}
.reservation label, .reservation input, .select {
    font-size: 1.2em;
    margin-bottom: 5px;
    padding: 10px;
}
.reservation .text label, form textarea{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.reservation label{
    font-weight: 600;
}
.text label textarea{
    width: 100%;
}
.buttonR{
    width: 100%;
    justify-content: center;
    margin: 10px 0;
}
@media screen and (min-width:520px) {
    .titleR{
        font-size: 1.8em;
    }
}
@media screen and (min-width:640px) {
    .titleR {
        font-size: 2.2em;
        top: 30%;
        left: 51%;
    }
}
@media screen and (min-width:850px) {
    .titleR{
        font-size: 3em;
    }
}
@media screen and (min-width:1280px){
    .myInput{
        padding-bottom: 10px;
    }
}