.titleT {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #F1F1F3;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #1b446f;
    justify-items: center;
    justify-content: center;
    padding: 15px 0;
}
.cards section{
    display: flex;
    background-color: #f1f1f3;
    border: 1px solid #2762A2;
    width: 90%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.cards section h2{
    font-size: 1.5em;
    margin-top: 0;
}
.cards section h3{
    font-size: 1.2em;
    margin-bottom: 5px;
}
.cards section p{
    font-size: 1.1em;
    margin: 0 95px;
    margin-bottom: 16px;
    line-height: 1.3em;
}
.cards section img{
    width: 50%;
}
li {
    list-style-type: none;
    line-height: 1.3em;
}

@media screen and (min-width:520px) {
    .titleT{
        font-size: 1.8em;
    }
}
/* medium view */
@media screen and (min-width:640px) {
    main{
        display: flex;
        height: auto;
        width: auto;
    }
    .titleT {
        font-size: 2.2em;
        top: 30%;
        left: 51%;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:850px) {
    .titleT{
        font-size: 3em;
    }
}
/* large view */
@media screen and (min-width:1280px) {
    .titleT{
        font-size: 4em;
    }
}