.titleT {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    color: #F1F1F3;
}
.buttons{
    display: inline;
    text-align: center;
}
button{
    background-color: transparent;
    border: none;
}
button:hover{
    background-color: #d4eefe;
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #0F0637;
    justify-items: center;
    justify-content: center;
    margin: 15px 0;
}
.cards section{
    display: flex;
    background-color: #edf8ff;
    border: 1px solid #2762A2;
    width: 90%;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cards section h2{
    font-size: 1.5em;
    margin-top: 0;
}
.cards section p{
    font-size: 1.1em;
    margin-top: 0;
}
.cards section img{
    width: 50%;
}
.list{
    display: none;
}
.list.open{
    display: block;  
    margin: 10px 0;
}
.list.open section{
    display: flex;
    background-color: #edf8ff;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 10px;
}

@media screen and (min-width:520px) {
    .titleT{
        font-size: 1.8em;
    }
}
/* medium view */
@media screen and (min-width:640px) {
    main{
        display: flex;
        height: auto;
        width: auto;
    }
    .titleT {
        font-size: 2.2em;
        top: 30%;
        left: 51%;
    }
    .cards{
        display: none;
    }
    .cards.open{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .list{
        display: block;  
        margin: 10px 0;
    }
    .list section{
        display: flex;
        background-color: #edf8ff;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 5px 10px;
    }
}
@media screen and (min-width:850px) {
    .titleT{
        font-size: 3em;
    }
}
/* large view */
@media screen and (min-width:1280px) {
    main{
        display: flex;
        height: auto;
        width: auto;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .list{
        display: none;
    }
    .list.open{
        display: block;
    }
}